*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
   /* font-family: sans-serif;*/
}
/* HEADER SECTION*/
.top{
    max-width: 1400px;;
    background-color: #FFFFFF;
}
.top-header{
    display: flex;
    gap: 40px;
    justify-content:space-around;
}
.logo{
    margin: 10px 0;
}
ul li a{
    text-decoration: none;
    
}
.menu ul{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 70px;
  margin: 30px 0;
}
.menu a{  
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #000000;
}
.profile{
    margin: 25px 0;
}
/* SECTION 1 */
.sec1{
   display: flex;
   margin-top: 40px;
   margin-left: 100px;
}
.sec1-left{
   /* max-width: 570px;
    width: 100%;*/
    margin-top: 40px;
    margin-left: 40px;
}
.sec1-left h3{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size:30px;
    letter-spacing: 1px;
    color: #010101;
}
.sec1-left p{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;    
    color: #2E2E30;
}
.sec1-left .author{
font-style: italic;
font-weight: 400;
font-size: 12px;
line-height: 24px;
letter-spacing: 0.2px;
margin-bottom: 30px;
}
.sec1-right{
    width: 170px;
    height: 175px;
    margin-top: 15%;
    margin-left: 15%;
    background-color: #F5F5F5;
    position: relative;
   
}

.main img{
    width: 150px;
    margin-left: 13%;
    position: absolute;
    top: -70px;
}
.bottom{
        position: absolute;
        margin-top: 15px;
        top: 75px;
}
.bottom p{
    font-style: normal;
    font-size: 12px;
    line-height: 20px;
    color: #222224;
    margin-left: 25px;
}
.bottom h6{
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 20px;
text-decoration-line: underline;
margin-left: 25px;
margin-top: 15px;
}
.bottom h6 a{
    color: #222224;
}
/*SECTION 2*/
.sec2{
    display: flex;
    margin-top: 90px;
    margin-left: 100px;
   gap: 100px;
}
.sec2-left{
    margin-bottom: 40px;
    margin-left: 40px;
}
.sec2-left h3{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    color: #2E2E30;
}
.sec2-left .italic{
font-style: italic;
font-weight: 400;
font-size: 12px;
line-height: 15px;
color: #EB8C0E;
}
.sec2-left .normal{
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;
color: #1C1D21;
}
.sec2-left a{
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 22px;
text-decoration-line: underline;
color: #EB8C0E;
}
.sec2-right img{
    width: 350px;
}
/*SECTION 3*/
.sec3{
    display: flex;
    gap: 20px;
    margin-top: 90px;
    background-color:  #FFFFFF;;
}
.sec3-right{
    margin-left: 100px;
}
.sec3-left{
    margin-bottom: 40px;
    margin-left: 40px;
}
.sec3-left img{
    width: 350px;
}
.sec3-right h3{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    color: #2E2E30;
}
.sec3-right .italic{
font-family: 'Playfair Display';
font-style: italic;
font-weight: 400;
font-size: 12px;
line-height: 15px;
color: #EB8C0E;
}
.sec3-right .normal{
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;
color: #1C1D21;
}
.sec3-right a{
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 22px;
text-decoration-line: underline;
color: #EB8C0E;
}
/*SECTION 4*/
.sec4{
    margin-top: 90px;
    margin-left: 100px;
    display: flex;
    gap: 90px;
}
.sec4-left{
   margin-bottom: 40px;
   margin-left: 40px;
}
.sec4-left h3{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    color: #2E2E30;
}
.sec4-left .italic{
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #EB8C0E;
    }
.sec4-left .postero{
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 22px;
color: #1C1D21;
    }
 .sec4-left .normal{
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #1C1D21;
        }
 .sec4-left a{
 font-style: normal;
 font-weight: 400;
 font-size: 12px;
 line-height: 22px;
 text-decoration-line: underline;
 color: #EB8C0E;
 }
 .awards{
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 22px;
color: #1C1D21;
margin-left: 50px;
position: relative;
                    }   
 .awards:before{
 content:" ";
 /*display: block;*/
 height: 1px;
 width: 50px;
 position: absolute;
/*top: 50px;*/
 left: 0;
 background:  #EB8C0E;
 left: -55px;
 bottom: 10px;
                }                   
.sec4-right img{
    width: 350px;  
} 
/*SECTION 5*/
.sec5{
    height: 200px;
    margin-top: 17%;
    background-color: #F7F7F7;
    position: relative;
    display: flex;
    justify-content: center;
}

.container2{
  display: flex;
  position: absolute;
  top: -90px;
  gap: 20px;
}
.content img{
    width: 200px;
    height: 200px;
}
.container3{
    position: absolute;
    top: 110px;
}
.footer{
    width: 350px;
    height: 150px;
    background-color: #FFFFFF;
    margin-top: 25px;
   
}
.footer p{
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 20px;
letter-spacing: 0.5px;
text-transform: uppercase;
color: #EB8C0E;
margin-left: 30px;
padding-top: 30px;
position: relative;
}
.footer p::after{
    content:" ";
    /*display: block;*/
    height: 1px;
    width: 50px;
    position: absolute;
   /*top: 50px;*/
    background:  #EB8C0E;
    left: 70px;
    bottom: 10px;
}

.footer h3{
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 700;
line-height: 55px;
letter-spacing: 1px;
color: #000000;
margin-left: 30px;
/*padding-bottom: 30px;*/
}
.footer a{
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 700;
line-height: 20px;
text-decoration-line: underline;
color: #192432;
margin-left: 30px;
margin-bottom: 30px;
font-size: 10px;
}
/*SECTION 6*/
.word {
margin-top:250px;
font-family: 'Playfair Display';
font-style: italic;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-align: center;
position: relative;
margin-bottom: 200px;
color: #000000;
}
.word h6{
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 30px;
/* identical to box height, or 231% */
text-align: center;
text-transform: uppercase;
color: #EB8C0E;
margin-bottom: 40px;
}
.word p::before{
    border-left: 1px solid #EB8C0E;
    content: "";
   /* display: block;*/
    height: 30px;
    position: absolute;
    left: 630px;
    top: 30px;
    width: 1px;
    z-index: 0;
}
.word a{
font-family: 'Playfair Display';
font-style: italic;
font-weight: 400;
font-size: 20px;
line-height: 34px;
text-align: center;
text-decoration-line: underline;

color: #EB8C0E;
}
